.addtask-container {
  padding: 10px;
  height: fit-content;
}
.addtask-form {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: auto;
}

.addtask-form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#submit-task {
  border-radius: 3px;
  border-width: 0px;
  padding: 10px;
  font-weight: bold;
  color: #f0f8ff;
  cursor: pointer;
  background-color: black;
}

#task-title,
#task-desc,
#task-date {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
