@tailwind base;
@layer base {
  @font-face {
    font-family: 'Rethink Sans';
    src: url('../../fonts/RethinkSans.ttf');
  }
}
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: auto;
  @apply text-slate-950 dark:text-slate-50;
}

html {
  @apply dark:bg-gray-900;
}

h1 {
  font-family: "Rethink Sans", sans-serif;
  @apply text-5xl font-extrabold
}

h2 {
  @apply text-4xl font-bold
}

h3 {
  @apply text-3xl font-semibold
}

h4 {
  @apply text-2xl font-medium
}

input[type=submit]{
  @apply bg-slate-900 text-slate-50 dark:bg-zinc-800 rounded-md shadow-md font-bold py-1 md:px-32 max-md:px-8 text-xl w-fit hover:scale-105 transition cursor-pointer;
}

input[type=text], [type=datetime-local]{
  @apply bg-inherit text-xl border-b-4 border-b-gray-400 dark:border-b-zinc-600 focus:border-b-gray-950 focus:dark:border-b-zinc-800 outline-none transition-all;
}