* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

button {
  border-radius: 3px;
  border-width: 0px;
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
  background-color: black;
  transition: ease-in-out 0.1s;
}

button:hover {
  transform: scale(1.025);
  box-shadow: 4px 4px 6px whitesmoke, -4px -4px 6px whitesmoke;
  transition: ease-in-out 0.1s;
}

button:disabled {
  opacity: 50%;
}

.container {
  border-radius: 5px;
  border: 3px solid rgb(27, 27, 27);
  padding: 10px;
}

.task-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.bi.bi-trash-fill {
  color: black;
  font-size: 34px;
}

.bi.bi-plus {
  color: black;
  font-size: 35px;
  cursor: pointer;
}

.bi.bi-plus::before {
  vertical-align: center;
}

.bi.bi-trash-fill:hover {
  color: red;
  transform: scale(1.05);
  transition: ease-in-out 0.1s;
  cursor: pointer;
}

.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(197, 197, 197);
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  transition: ease-in-out 0.1s;
}

.task-container:hover {
  box-shadow: 5px 5px 10px whitesmoke, -5px -5px 10px whitesmoke;
  transition: ease-in-out 0.1s;
  border-color: whitesmoke;
}

.task-container:first-child {
  margin-bottom: 15px;
}

.task-container:last-child {
  margin-bottom: 0px;
}
